Repository moevm/mse1h2024-moodle, pull requests merged in 2024-04, with the labels that each got.

#104 #32 Реализация поиска
  client/src/colors.css
  client/src/components/Filters/Filters.vue
  client/src/components/Filters/Search.vue
  client/src/components/Navbar.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Statistics/StatisticsTable.vue
Labels: Client, Stat_view

#106 #96 Записывание реальных названий кнопок
  stat_tracker/moodle_stat_tracker_specified_elements.html
Labels: Stat_mod

#116 #17 Добавление фильтрации данных сессий по времени
  init-mongo.js
  server/Dockerfile
  server/requirements.txt
  server/src/api/endpoints/statistics.py
  server/src/core/modules/database/statistics.py
  server/src/core/modules/service/statistics.py
  server/src/models/filter.py
  server/src/models/session_data.py
Labels: Server

#109 #105 Отредактировать текущий вид отображения статистики
  client/src/colors.css
  client/src/components/Filters/Filters.vue
  client/src/components/Filters/Search.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Statistics/StatisticsTable.vue
Labels: Client, Stat_view

#115 #111 Формирование общего скрипта для сбора статистики
  README.md
  stat_tracker/moodle_stat_tracker.html
  stat_tracker/moodle_stat_tracker_all.html
  stat_tracker/moodle_stat_tracker_focus_on_tab.html
Labels: Stat_mod

#118 #99 Реализовать интервальную отправку статистики на сервер
  README.md
  stat_tracker/moodle_stat_tracker.html
Labels: Stat_mod

#127 #21 Реализовать процесс авторизации пользователя
  server/src/api/api.py
  server/src/api/endpoints/authorization.py
  server/src/core/modules/database/user.py
  server/src/core/modules/service/authorization.py
  server/src/depends.py
  server/src/models/user.py
Labels: Server, Auth

#126 #95 Изучить возможность получения данных пользователя из профиля
  stat_tracker/moodle_stat_tracker.html
Labels: Data_proc

#130 #129 Реализовать процесс входа и выхода из системы на клиенте
  client/src/components/AuthForm.vue
  client/src/components/Navbar.vue
  client/src/components/Pages/AuthorizationPage.vue
  client/src/components/Pages/CreateUserPage.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/router.js
Labels: Client, Auth

#133 #132 Функция вытягивания email пользователя написана некорректно
  stat_tracker/moodle_stat_tracker.html
Labels: bug, Stat_mod

#140 #98 Реализовать возможность просмотра всех пользователей
  client/src/components/Navbar.vue
  client/src/components/Pages/AllUsersPage.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Tables/StatisticsTable.vue
  client/src/components/Tables/UsersTable.vue
  client/src/router.js
Labels: Client, Auth

#143 #142 Реализовать удаление пользователей
  client/src/components/Pages/AllUsersPage.vue
  client/src/components/Tables/UsersTable.vue
Labels: Client

#141 #131 Интеграция Github Actions
  .github/workflows/build-check.yml
  .github/workflows/lable_merge_conflicts.yml
  docker-compose.yaml
Labels: CI/CD

#148 #146 Исправление GA для сборки и проверки контейнеров
  .github/workflows/build-check.yml
Labels: bug, CI/CD

#128 #107 Исправление compose файла
  docker-compose.prod.yaml
Labels: bug, CI/CD

#144 #122 Добавить идентификатор пользователя в отображение в таблице
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Tables/StatisticsTable.vue
Labels: Client, Stat_view

#152 #135 Фикс даты
  server/src/api/endpoints/statistics.py
  server/src/models/session_data.py
Labels: bug, Server

#154 #153 Обновление спецификации
  openapi.yaml
Labels: documentation

#151 #38 Реализовать интерфейс работы с графиками
  client/public/data.json
  client/src/components/Chart.vue
  client/src/components/Pages/StatisticsPage.vue
Labels: Client, Graph_view

#155 #145 Корректировки отображения на стороне клиента: название сайта и страница создания пользователя
  client/public/index.html
  client/src/components/Pages/CreateUserPage.vue
Labels: Client

#156 #37 Подготовка данных для построения графиков
  client/package-lock.json
  client/package.json
  client/src/components/Chart.vue
Labels: Client, Graph_view

#160 #159 Фикс бага с некорректным названием поля user_id
  stat_tracker/moodle_stat_tracker.html
Labels: bug, Stat_mod

#167 #163 Исправление ошибок, связанных с отображением времени
  server/Dockerfile
  server/src/api/endpoints/statistics.py
  server/src/core/modules/database/statistics.py
Labels: bug, Server

#169 #168 Исправление поля в отправляемой сущности
  stat_tracker/moodle_stat_tracker.html
Labels: bug, Stat_mod

#158 #150 Реализовать масштабирование графиков
  client/public/data.json
  client/src/components/Chart.vue
Labels: Client, Graph_view

#170 #149 Реализовать корректное отображение значения точек на графике
  client/public/data.json
  client/src/components/Chart.vue
Labels: Client, Graph_view

#175 #162 Добавление типов событий
  openapi.yaml
  server/extract-openapi.py
  server/src/models/session_data.py
  stat_tracker/moodle_stat_tracker.html
Labels: Database

#180 # 179 Добавление миллисекунд во временную метку
  stat_tracker/moodle_stat_tracker.html
Labels: bug

#181 #139 Реализовать интеграционные и функциональные тесты для клиента
  client/package-lock.json
  client/package.json
  client/src/components/Pages/AuthorizationPage.vue
  client/src/components/Pages/CreateUserPage.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/test/test-selenium.js
Labels: Client, tests

#206 #197 Добавить поля в таблице
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Tables/StatisticsTable.vue
Labels: Client, Stat_view
