Repository moevm/mse1h2024-moodle, pull requests merged in 2024-03, with the labels that each got.

#46 #7 Сформировать файловую структуру веб-интерфейса
  client/babel.config.js
  client/jsconfig.json
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/src/App.vue
  client/src/assets/logo.png
  client/src/components/Auth.vue
  client/src/components/Chart.vue
  client/src/components/Main.vue
  client/src/components/NotFound.vue
  client/src/main.js
  client/src/router.js
  client/vue.config.js
Labels: review needed

#49 #11 Сформировать модели
  server/models/__init__.py
  server/models/session_data.py
  server/models/user.py
Labels: Server

#51 #20 Реализовать базовые компоненты интерфейса
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/moevm.jpg
  client/src/App.vue
  client/src/assets/logo.svg
  client/src/colors.css
  client/src/components/Auth.vue
  client/src/components/AuthForm.vue
  client/src/components/Data/DataButton.vue
  client/src/components/Data/DataForm.vue
  client/src/components/Data/DataInput.vue
  client/src/components/Navbar.vue
  client/src/components/NotFound.vue
  client/src/components/Statistics/StatisticsTable.vue
  client/src/main.js
  client/src/plugins/vuetify.js
  client/src/plugins/webfontloader.js
  client/src/router.js
  client/vue.config.js
Labels: review needed, Client

#57 #56 Исправление скрипта инициализации БД
  init-mongo.js
Labels: Server, Database

#58 #30 Создание структуры страницы отображения статистики
  client/public/data.json
  client/src/components/Auth.vue
  client/src/components/Main.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/router.js
Labels: review needed

#60 #59 Исправление ошибки при обновлении пользователя
  docker-compose.yaml
  server/.env
  server/requirements.txt
  server/src/core/modules/service/user.py
  server/src/depends.py
  server/src/models/session_data.py
Labels: bug, Server

#62 #61 Добавление спецификации для API
  openapi.yaml
Labels: documentation

#64 #63 Сформировать докер для клиентской части
  client/.dockerignore
  client/Dockerfile
  docker-compose.yaml
Labels: review needed, Client

#67 #66 Ошибка при запуске докер контейнера с клиентом
  client/Dockerfile
  client/nginx.conf
  docker-compose.yaml
Labels: bug, Client

#69 #68 Развертывание Moodle в докер
  docker-compose.yaml
Labels: Stat_mod

#71 #70 Настройка CORS на сервере
  server/main.py
Labels: Server

#72 #27 Реализовать страницу авторизации
  client/src/components/Auth.vue
  client/src/components/AuthForm.vue
  client/src/components/Navbar.vue
  client/src/components/Pages/AuthorizationPage.vue
  client/src/router.js
Labels: Client, Auth

#73 #52 Реализовать страницу создания пользователя
  client/nginx.conf
  client/package-lock.json
  client/package.json
  client/src/colors.css
  client/src/components/Navbar.vue
  client/src/components/Pages/CreateUserPage.vue
  client/src/router.js
Labels: Client, Auth
