Repository moevm/mse1h2024-moodle, pull requests merged in 2024-05, with the labels that each got.

#211 #173 Создать кнопку для сброса интервала в датах
  client/src/colors.css
  client/src/components/Filters/DateTime.vue
  client/src/components/Pages/StatisticsPage.vue
Labels: Client, Stat_view

#215 #191 Добавление фильтрации
  server/src/api/endpoints/statistics.py
  server/src/core/modules/database/statistics.py
  server/src/core/modules/database/user.py
  server/src/models/filter.py
Labels: Server, Data_proc

#216 #210 Неверное отображение даты на графике
  client/public/data.json
  client/src/components/Chart.vue
Labels: bug, Client, Graph_view

#223 #190 Добавить отслеживание новых типов событий
  stat_tracker/moodle_stat_tracker.html
Labels: Stat_mod

#219 #171 Некорректно сливаются значения при зуме
  client/public/data.json
  client/src/components/Chart.vue
Labels: bug, Client, Graph_view

#222 #220 Удаление фильтрации из компоненты графика
  client/src/components/Chart.vue
  client/src/components/Pages/StatisticsPage.vue
Labels: Client, Graph_view

#226 #199 Зафиксировать версию Ubuntu в github-runner
  .github/workflows/build-check.yml
Labels: CI/CD

#221 #183 Сформировать deploy-script
  init-deploy.sh
Labels: Common

#225 #207 Healthcheck endpoint
  server/src/api/api.py
  server/src/api/endpoints/healthcheck.py
Labels: Server

#229 #227 Реализовать выдачу оповещений при удалении пользователя
  client/src/components/Tables/UsersTable.vue
Labels: Client

#230 #186 Тест при подключении скрипта
  server/src/api/endpoints/healthcheck.py
  stat_tracker/moodle_stat_tracker.html
Labels: Stat_mod

#231 #187 Добавить сбор html кода элемента
  stat_tracker/moodle_stat_tracker.html
Labels: Stat_mod

#233 #19 Скачивание отчета
  server/src/api/api.py
  server/src/api/endpoints/statistics.py
Labels: Server, Data_proc

#235 #193 Добавить коллекцию с данными о странице
  openapi.yaml
  server/src/api/endpoints/statistics.py
  server/src/core/modules/database/statistics.py
  server/src/core/modules/service/statistics.py
  server/src/depends.py
  server/src/models/session_data.py
Labels: Server, Database

#239 #238 Исправление неверной фильтрации
  client/src/components/Pages/StatisticsPage.vue
Labels: bug, Client

#242 #184 Зафиксировать требования к браузеру
  README.md
Labels: Stat_mod

#234 #232 Редактирование отображения. Фильтрация и таблица пользователей.
  client/src/components/Chart.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Tables/UsersTable.vue
Labels: bug, Client

#244 #237 Добавление данных для отслеживания
  stat_tracker/moodle_stat_tracker.html
Labels: Stat_mod

#224 #35 Реализовать экспорт отчета
  client/src/components/Dialog.vue
  client/src/components/Pages/StatisticsPage.vue
Labels: Client, Stat_view

#247 #240 Вынести данные авторизации и переменные среды в .env
  docker-compose.yaml
  server/.env
Labels: Common

#249 #248 Автоматизация тестов на selenium
  client/package-lock.json
  client/package.json
  client/src/components/Pages/CreateUserPage.vue
  client/src/components/Pages/StatisticsPage.vue
  client/src/components/Tables/UsersTable.vue
  client/src/test/test-selenium.js
  client/src/test/test.mjs
  docker-compose.test.yaml
Labels: Client, tests

#254 #200 Подключить тесты клиента к GA
  .github/workflows/selenium.yml
Labels: Client, CI/CD, tests

#251 Юнит-тесты для сервера
  .gitignore
  server/requirements.txt
  server/tests/__init__.py
  server/tests/test_auth_service.py
  server/tests/test_page_repo.py
  server/tests/test_statistics_repo.py
  server/tests/test_statistics_service.py
  server/tests/test_user_repo.py
  server/tests/test_user_service.py
Labels: Server, tests

#256 #201 GA unit tests
  .github/workflows/server_units.yml
  server/Dockerfile
Labels: Server, CI/CD, tests
